// sass color variables
// =============================================================

/** color variables
* @access public
* @type string
*/
$black: #000;
$white: #fff;

$red: #ed665f;
$lightred: #F7E1DF;

$blue: #6B91EE;
$lightblue: #688ee8;

$green: #6cc08a;
$lightgreen: #afe8c2;

$yellow: #e2de4b;
$lightyellow: #e3e8af;

$gray: #3d4852;