// base typography styles
// =============================================================

// Heading font styles
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $heading-line-height;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-family: $primary-font;
    text-align: center;
    margin-bottom: 25px;
    font-weight: $light;
    letter-spacing: .18rem;
    line-height: 1.25rem;
}